<nav class=" navbar navbar-dark  bg-primary">
    <div class="navbar-nav flex flex-row gap-2">
        <a class="px-1 home nav-item nav-link "
        [class.active]="aba == 'home'"
        (click)="aba = 'home'">Home</a>
        <a class="px-1 nav-item nav-link"
        [class.active]="aba == 'mapa'"
        (click)="aba= 'mapa'">Mapa</a>
        <a class="px-1 nav-item nav-link"
        [class.active]="aba == 'lista'"
        (click)="aba = 'lista'">Lista</a>
    </div>
</nav>
<p>Mudo o nome da variavel olha: {{aba}}</p>
<div class="cotainer" [ngSwitch]="aba">
    <p *ngSwitchCase="'mapa'">Modo Mapa ativado</p>
    <p *ngSwitchCase="'lista'">Modo Lista ativado</p>
    <p *ngSwitchDefault>Home</p>
</div>